* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
}
.info-box {
  width: 80%;
  height: auto;
  background-color: aqua;
}
